
/*home page*/
#pic1 {
    position: absolute;
    bottom: 10%;
    right: 2%;
    width: 50%;
    
    
}


#pic2 {
    position: absolute;
    bottom: 10%;
    right: 17%;
    width: 50%;
    
}

p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
}
@keyframes annimation {
    0%   {background-color: red;}
    25%  {background-color: greenyellow;}
    50%  {background-color: deeppink;}
    100% {background-color: indigo;}
}
h1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: annimation;
    animation-duration: 10s;
}

/*our products*/

#mov2 {
    position: absolute;
    top: 30%;
    right: 75%;
    width: 10%;
}
#mov1 {
    position: absolute;
    top: 21%;
    right: 40%;
    width: 10%;
}

h2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}

/*menu*/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
#slider {
   background: #000;
   border: 5px solid #eaeaea;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
   height: 320%;
   width: 680%;
   margin: 100px auto 100px;
   overflow: visible;
   position: relative;
}

#mask {
   overflow: hidden;
   height: 320px;
}
#slider ul {
   margin: 0;
   padding: 0;
   position: relative;
}

#slider li {
   width: 68%;
   height: 10%; 
   position: absolute;
   top: 325%;
   list-style: none;
}
#v1 {
    text-align: right;
}
#v2 {
    text-align: right;
}
/*  testmonals page*/
#mov3 {
    position: absolute;
    top: 40%;
    right: 75%;
    width: 10%;
}
#mov4 {
    position: absolute;
    top: 40%;
    right: 40%;
    width: 10%;
}
/*  contact us page*/
#gif {
    position: static;
    bottom: -10%;
    right: 1%;
    width: 30%;
    height: 40%;
}

#map {
    position: static;
    bottom: 20%;
    right: 60%;
    width: 30%;
    height: 40%;
}